.flexColumn
	display: flex
	flex-direction: column

.Item
	@extend .flexColumn
	padding: 1rem
	
.AppContainer
	@extend .flexColumn
	margin-top: 5rem

.NameContainer
	@extend .Item
	align-items: center
	line-height: 1.0

	font-size: 4rem
	font-weight: 900

.TraitContainer
	@extend .Item
	