html,
body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: "GeneralSans", sans-serif;
  font-size: 1.2rem;
}

a,
span {
  color: #fbfbfb;
}

.quote {
  font-size: 0.7rem !important;
  max-width: 14rem;
  opacity: 0.4;
}

.v-line {
  border: 1px solid #fbfbfb;
  height: auto;
  margin-right: 1rem;
}

.name-title {
  margin-top: 7rem;
  line-height: 3rem;
  font-size: 4rem;
  font-weight: 900;
  text-align: justify;
}

.box {
  padding: 2rem 0 0 0;
  font-size: 1.3rem;
}

.f-generalsans {
  font-family: "GeneralSans";
}

.f-switzer {
  font-family: "Switzer";
}

.d-flex {
  display: flex;
}

.flex-between {
  justify-content: space-between;
}

.flex-around {
  justify-content: space-around;
}

.flex-v {
  flex-direction: column;
}

.flex-h {
  flex-direction: row;
}

.v-max {
  width: 100vw;
}

.h-75 {
  height: 75vh;
}

.h-max {
  height: 100vh;
}

canvas {
  position: absolute;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -100;
}
